{:kotoba.app/id "cloud.itonami.isic-1075", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiambt6a3imtg2pxye67igxvxbyoo2mn3r7vtd325oxhtnfxj7kp24", :kotoba.app/embed-url "ipfs://bafkreiambt6a3imtg2pxye67igxvxbyoo2mn3r7vtd325oxhtnfxj7kp24", :published {:archive "https://kotobase.net/ipfs/bafkreiambt6a3imtg2pxye67igxvxbyoo2mn3r7vtd325oxhtnfxj7kp24", :size 72479, :put-status 201, :get-status 200, :at "2026-08-15T13:38:45.169Z"}}
